# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# Data
data/vector_db/
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.dbvenv/
data/chroma_db/
data/test_chroma_db/
